{% extends "base.html" %}

{% block content %}
<section class="form-editar">
    <h2>Editar inmueble</h2>
    <form method="POST">
        <label for="tipo">Tipo de inmueble:</label>
            <select name="tipo" id="tipo" required>
                <option value="Apartamento" {% if inmueble and inmueble.tipo == "Apartamento" %}selected{% endif %}>Apartamento</option>
                <option value="Casa" {% if inmueble and inmueble.tipo == "Casa" %}selected{% endif %}>Casa</option>
                <option value="Local" {% if inmueble and inmueble.tipo == "Local" %}selected{% endif %}>Local</option>
                <option value="Lote" {% if inmueble and inmueble.tipo == "Lote" %}selected{% endif %}>Lote</option>
                <option value="Oficina" {% if inmueble and inmueble.tipo == "Oficina" %}selected{% endif %}>Oficina</option>
            </select>

        <label>Municipio:</label>
        <input type="text" name="municipio" value="{{ inmueble.municipio }}" required><br>

        <label>Habitaciones:</label>
        <input type="number" name="habitaciones" value="{{ inmueble.habitaciones }}" required><br>

        <label>Valor:</label>
        <input type="number" name="valor" value="{{ inmueble.valor }}" required><br>

        <label>Imagen URL:</label>
        <input type="text" name="imagen_url" value="{{ inmueble.imagen_url }}"><br>

        <button type="submit">💾 Guardar cambios</button>
        <a href="{{ url_for('admin') }}">Cancelar</a>
    </form>
</section>
{% endblock %}