{% extends "base.html" %}
{% block content %}

<section class="hero">
    <div class="hero-content">
        <h2>Encuentra tu próximo inmueble</h2>
        <p>Casas, apartamentos y locales en Pereira y alrededores</p>

        <div class="hero-buttons">
            <a href="{{ url_for('mostrar_inmuebles') }}" class="btn-primary">Ver inmuebles</a>
            <a href="https://wa.me/573132552214" class="btn-secondary">WhatsApp</a>
        </div>
    </div>
</section>

<section class="home-search">
    <h3>Busca rápidamente</h3>

    <form class="search-form" method="GET" action="{{ url_for('mostrar_inmuebles') }}">
        <input name="municipio" placeholder="Municipio">
        <select name="tipo">
            <option value="">Tipo de inmueble</option>
            <option>Casa</option>
            <option>Apartamento</option>
            <option>Local</option>
            <option>Oficina</option>
            <option>Lote</option>
        </select>
            <select name="tipo_negocio">
            <option value="">Venta / Arriendo</option>
            <option value="Venta">Venta</option>
            <option value="Arriendo">Arriendo</option>
        </select>
        <input type="number" name="valor_max" placeholder="Precio máximo">
        <button>Buscar</button>
    </form>
</section>

<section class="beneficios">
    <div class="beneficio">✔ Inmuebles verificados</div>
    <div class="beneficio">✔ Atención personalizada</div>
    <div class="beneficio">✔ Contacto directo</div>
</section>

{% endblock %}
